::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 1, 1); 
  }
  ::-webkit-scrollbar-corner{
      width: 50px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
*{
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

html{
font-family: 'Cairo', sans-serif;
/* font-size: 11px;
    font-weight: 900; */
}

li{
    list-style: none;
}
/* *********************** start header ********************* */
/* ************ start tob-nav ********* */
header{
    font-size: 11px;
    font-weight: 900;
}
.tob-nav{
    
    background: #f9fafc;
    display: block;
    border-bottom: 1px solid #e5e9f2;
    height: 40px;

}

.tob-nav ul{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tob-nav ul li{
    cursor: pointer;
    height: 100%;
    padding: 0 2%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tob-nav ul li:not(:last-child){

    border-left: 1px #e5e9f2 solid;
}

.tob-nav ul li:last-child{

direction: ltr;
}

.tob-nav ul li a{
    text-decoration: none;
}

.tob-nav ul li img{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin-left: 10px;
}

.tob-nav ul li span{
    margin: 0 3px;
}
.ornage{
    background-color: orange;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
}

/* ************ start midel-nav ********* */

.midel-nav{
    display: flex;
    height: 70px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 90%;
    width: 20%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.searsh{
    width: 60%;
    height: 50%;
    position: relative;
}

.searsh input{
    width: 100%;
    height: 100%;
    border: 1px #aaa solid;
    background-color: #eee;
    border-radius: 50px;
    padding: 0 10px;
}

.searsh i{
    position: absolute;
    left: -5px;
    top: 5px;
    font-size: 25px;
    font-weight: lighter ;
    color: #999;
}

.card{
    height: 70%;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card a{
    height: 90%;
    width: 100%;
    display: flex;
    align-content: center;
}

.card img{
    border-radius: 70px;
    height: 90%;
}

/* ************ start last-nav ********* */
 

 .last-nav{
    background: #ffffff;
    display: block;
    height: 40px;

}

.last-nav ul{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.last-nav ul li{
    cursor: pointer;
    height: 100%;
    padding: 0 2%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}


.last-nav ul li a{
   text-decoration: none;
   font-weight: 900
}

.a1 {
    border-bottom: 3px #42526e solid;
}

.a2 {
    border-bottom: 3px #0052cc solid;
}

.a3 {
    border-bottom: 3px orange solid;
}
.a4 {
    border-bottom: 3px orangered solid;
}

.a5 {
    border-bottom: 3px palevioletred solid;
}

.a6 {
    border-bottom: 3px red solid;
}

.a7 {
    border-bottom: 3px green solid;
}

.a1:hover {
    border-bottom: 4px #42526e solid;
}

.a2:hover {
    border-bottom: 4px #0052cc solid;
}

.a3:hover {
    border-bottom: 4px orange solid;
}
.a4:hover {
    border-bottom: 4px orangered solid;
}

.a5:hover {
    border-bottom: 4px palevioletred solid;
}

.a6:hover {
    border-bottom: 4px red solid;
}

.a7:hover {
    border-bottom: 4px green solid;
}

.slid-content{
    width: 100%;
    height: 50vh;
    position: relative;
}
.row{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    gap: 10px;
    overflow: auto;
}
.col{
    width: 225px;
    min-width: 225px;
    margin: 2px;
    box-shadow: 0 0 3px 0px #828282;
    border-radius: 4px;
    padding-bottom: 10px;
}
.col:first-child{
    margin-right: 200px;
}

.col>img{
    width: 80%;
    margin:0 10%;
    height: auto;
}
.col>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 900;

}
.icons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.icons p{
    font-size: 20px;
    font-weight: 900;
}

.cart-ico{
    background: #d4070e;
    color: white;
    padding: 10px 11px;
    border-radius: 50px;
}
/* *********************** start main ********************* */
/* ************ start book details  ********* */
.main-content{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 30px;
}
.book-show{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px 0px #828282;
}

.b-img{
    width: 70%;
    height:auto;
    margin: 20px auto;
}
.s-img{
    width: 20%;
    height: auto;
    margin: 0 auto 10px auto;
    border: solid blue 1px;
    border-radius: 3px;
    display: flex;
}

.s-img img{
    width: 70%;
    height: auto;
    margin: 5px auto;
}

.book-details{
    width: 37%;
    height: auto;
    margin: auto
}
.more{
    color: blue;
    font-weight: 900;
    width: 100%
}
.price{
    color: red;
    font-weight: 900;
    font-size: 24px;
}

.price ~ span{
    font-size: 13px;
    color: #c8c8c8;
    padding: 0px;
    position: relative;
    top: -18px;
}

.each{
    text-align: left;
}

.stars{
    color: orange;
}

.bok-num{
    font-weight: 900;
}

.div-radio, .div-price{
    width: 50%;
    display: inline;
    float: right;
}

.div-radio div{

width: 100%;
margin: 0 0 50px 0;
}
.div-radio input{
    height: 30px;
    width: 30px;
}
.q{
    border-radius: 50px;
    background: #c4c4c4;
    padding: 0 12px;
}
.bay-book{
    width: 40;
}
.bay-book>div{
    padding: 10px 0;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 3px 0px #828282;
}

.s-cart{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
.s-cart button{
    width: 80%;
    height: 40px;
    background: #d4070e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.s-cart select{
    background: #e4e3e3;
    border: none;
    border-radius: 5px;
    width: 15%;
}

.note{
    padding:10px 20px;
    width: 78%;
    margin: 10px auto 0 auto;
    background: #fff8ea;
    border-right: 5px solid orange;
    border-radius: 10px;
}
.note span{
    font-weight: 900;
}

.instiorance{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    background: #eee;
    border-radius: 10px;
    padding: 0 10px ;
    margin-bottom: 10px;
}
.instiorance p{
    width: 50%;
    margin: 10px 0;
}

.btns{
    width: 90%;
    border-top: 1px #ddd solid;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.btns button{
    width: 30%;
    height: 35px;
    background: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 7px #aaa;
    color: #888;
}
/* *********************** start main ********************* */
/* ************ start slid image  ********* */
.container-try{
    background: #e7e7e7;
    width: 95%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
}

.img-content-try{
    width: 100%;
    background-image: url("../images/img-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    position: relative;
    animation: s-1 20s ease-in-out 1s infinite alternate forwards;
}

.img-content-try1{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    position: relative;
}

.img-content-try1 img{
    width: 100%;
    height: 100%;
}

#prev, #next{
    cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
#prev {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #7778;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.dot{
    width: 10px;
    height: 10px;
    margin: 0 20px;
    background-color: #555;
    border-radius: 15px
}
.dot:first-child{
    background-color: #fff;
}

.count{
    height: 15%;
    font-size: 20px;
    color: white;
    background: #0009 ;
    text-align: center ;
    font-weight: 900;
}

.count span{
    color: red; 
}

.discound{
    font-size: 100px;
    height: 85%;
    font-weight: 900;
    color: #e91e63;
    background: #0000003b;
    text-shadow: 0 0 6px white;
}
.persant{
    font-size: 160px;
    text-shadow: 8px 1px 0px #a5a532;
    color: #ffff00;
    position: absolute;
    font-weight: 900;
    direction: ltr;
    top: 0;
    left: 0;
    width: 100%;

}

@keyframes s-1 {
    0%{
        background-image: url("../images/img-1.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }

    20%{
        background-image: url("../images/img-2.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }

    40%{
        background-image: url("../images/img-3.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }

    60%{
        background-image: url("../images/img-4.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }

    80%{
        background-image: url("../images/img-5.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url("../images/img-6.jpg");
        background-size: content;
        background-repeat: no-repeat;
    }
}

/* *********************** start model ********************* */
/* ************ start father model  ********* */
.model{
    width: 100vw;
    height: 100vh;
    background-color: #000b;
    position: fixed;
    z-index: 3;
    top: 0;
    display: none;
    align-items: center;
    overflow: scroll;

}
#close{
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: red;
    cursor: pointer;
    padding:0 20px 20px 0;
}
.sub-modle{
    padding: 30px 0;
    width: 90%;
    margin: auto;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-modle h1{
    width: 90%;
    margin: 0 auto;
    height: 50px;
}

.butns{
    width: 90%;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

#btn-login, #btn-signup{
    cursor: pointer;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #999 1px solid;
    font-size: 20px !important;
    font-weight: bolder;
}

#btn-login{
    border-left: 1px #999 solid;
    border-bottom: #999 3px solid;
}

.forms-model{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

.model-login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.madel-signup{
    width: 50%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    right: 50%;
    
}

.madel-signup{
    border-right: 1px #999 solid;
}

.login-form{
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
}

.login-form input{
    margin: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #eff2f7;
}

.sub-modle a, .creat-n-acount{
    width: 90%;
    margin: auto;
    text-align: center;
    
}

.sub-modle a{
    color: red;
    text-decoration: none;
}

.forget{
    color: #0052cc !important;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: -40%;
    top: 75px;
}
.creat-n-acount button{
    padding: 10px 40px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #777;
    margin: 10px 0;
}

.creat-n-acount button:hover{
    background-color: rgb(104, 105, 153);
    color: #fff;
}
.or{
    width: 10px !important;
    display: inline;
    background-color: white;
    position: absolute;
    left: 49.5%;
    top: 52%;
}
#login{
    background-color: #d4070e;
    color: #fff;
}

.iput-selection{
    width: 105%;
    display: flex;
    justify-content: space-between;
}

.iput-selection input{
width: 80%;


}
.iput-selection select{
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #eff2f7;
width: 20%;


}
#send{
    background: #e5e9f2;
    cursor: pointer;
}

.ch-box{
    width: 30px !important;
    height: 30PX !important;
    display: block;
}
.d-ch-box{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* *********************** start footer ********************* */
/* ************ start first footer  ********* */
footer{
    width: 100%;
    background: #333333;
    
}
.first-row{
    width: 90%;
    display: flex;
    margin: auto;
}

f-links{
    width: 20%;
    display: flex;
    justify-content: space-between
}
footer h3{
    color: #aaa;
    border-bottom: #aaa .1px solid;
    margin: 10px 20px;
    width: 90%;
    
}


.contact .supscrip{
    background-color: #484848;
    padding: 20px;
    border-radius: 15px;
    border: 0px solid;
    position: relative;
    height: 100px;


}

.supscrip a{
color: #9b9b9b;
font-size: 20px !important;
position: absolute;
top: 36px;
    left: 25px;

}

.supscrip input:first-child{
    width: 100%;
    background: #e6e6e6;
}

.supscrip input:last-child{
    width: 80px;
    float: left;
    background: #fff;
}

.supscrip input{
    height: 50px;
    border-radius: 10px;
    
}



.services{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.services ul{
    width: auto;
    margin: 0 20px;
}

.services li{
    list-style: none;
    color: white;
    margin:20px 0;
    font-weight: bold;
}
/* ************ start first footer  ********* */
.last-row{
    width: 90%;
    margin: 50px auto;
    padding: 0 0 50px 0;
}

.l-links{
    width: 50%;
}
.l-links ul{
    margin:  auto;
    width: 90%;
}

.l-links li{
    display: inline;
    margin: 0 2%;
}




.li{
    color: #fff;
    padding: 7px 10px;
    border-radius: 20px;
}
.facebook{
    background: blue;
}

.twitter{
    background: aqua;
    padding: 7px 7px;

}

.youtube{
    background: red;
    padding: 7px 8px;
}

.instagram{
    background: linear-gradient(to bottom right, rgb(255, 230, 0), #ff00bf); 
    padding: 7px 8px;
}


.linkedin{
    background: #0052cc;
    padding: 7px 7px;
}

.snapchat{
    background: rgb(247, 247, 19);
    padding: 7px 7px;
}

.end-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e6e6e6;
    width: 100%;
    height: 70px;
}

.text{
    text-align: left;
}

.images{
    width: 40%;
}
.images ul{
    display: flex;
    justify-content: center;
    width: 100%;
}

.images li{
    margin: 0 10px;
}
.images img{
     width: 50px;
     height: 30px;
}

@media screen and (max-width :1100px){

    .first-row{
        display: inline;
    }

    .tob-nav ul li i{
        display: none;
    }

    .contact{
        display: flex;
        justify-content: space-between;
    }

    .contact .supscrip{
        width: 70%;
        
    }
    .contact h3{
        border-bottom: none;
        width: 30%;
    }

    .supscrip {
        background: #333333 !important;
        width: 70%;
    }

    .supscrip a{
        top: 32px;
    left: 33%;
    }
    .supscrip input:first-child{
        width: 70%;
        float: right;
        background: #fff;
        height: 40px;
    }

    .supscrip input:last-child{
        float: left;
        height: 40px;

    }

    .services{
        width: 100%;
    display: flex;
    flex-flow: wrap;
    }
    .f-links ul{

        display: none;
    }

    .f-links{
        width: 50%;
    }
    .last-row {
        width: 95%;
        margin: 0;
        padding: 0 0 50px 0;

    }
    .l-links{
        display: flex;
        width: 100%;
        justify-content: space-between;
        

    }
    
    .l-links li{
        float: left;
        margin: 0 .2%;

    }
    .l-links h3{
        width: 50%;
    }

    .end-footer{
        flex-wrap: wrap;
        height: auto;
    }

    .end-footer>div{
margin: 10px 0;    }
    .images{
        width: 100%
    }

    .text{
        text-align: center;
        width: 100%;
    }

    .contact h3{
        padding: 20px 0 0 0;
    }
    .forms-model{
        
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .model-login, .madel-signup{
        width: 100%;
    }

    .madel-signup{
        border: none;
        right:0;
    }

    .or{
        display: none;
    }
    
}

@media screen and (max-width :700px){
    .tob-nav{
        display: none;
    }
    .f-links {
        width: 100%;
    }
}